.landing-container{
  overflow: hidden;
  position: relative;
   margin-top: 0px;
   
 }

@media screen and (max-width: 767px){
  .landing-container{
      margin-top: 30px;
 
     }
}
@media screen and (max-width: 450px){
  .landing-container{
      margin-top: 35px;
 
     }
}

@media screen and (min-width: 1800px){
  .landing-container{
      margin-top: -50px;
  }
  
}

.mySlides{
  /* display: none; */

  position: relative;
  overflow: hidden;
   width: 100%;
}

.mySlides .cover-img{

  width: 100%;
  aspect-ratio: 2/0.9;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0; /* Ensure no padding initially */
}

/* Zoom effect on smaller screens */
@media screen and (max-width: 1200px) {
  .cover-img {
      transform: scale(1.1); /* Increase the zoom level */
      padding: 2%; /* Adds padding for a more dynamic effect */
      aspect-ratio: auto !important;
  }
}
/* @media screen and (min-width: 1800px){

} */

/* //// custom */
@media screen and (min-width: 1800px){
  .landing-container{
      margin-top: -50px;
  }
  .mySlides .cover-img{
      aspect-ratio: 16/7;

   }
  
}

.soon-header{
   background-color: #092D38;

}

/* start programs slider */

      /* slider section  */
      #programs_slider_box {
        padding:  0 !important;
        text-align: center;
        margin: 70px 0;
        margin-bottom: 0px;
          }
      .programs_slider_container{
        width: 1000px;
        margin: auto;
          }
       
      @media (max-width:1100px) {
       
        .programs_slider_container{
          width: 700px;
          margin: auto;
            }
      }
      @media (max-width:750px) {
        #programs_slider_box {
          padding: 112px 0;
        }
        .programs_slider_container{
          width: 100%;
          margin: auto;
            }
      }
      
      #programs_slider_box .programs-slider {
         padding: 32px 0;
        position: relative;
      
      }
      
       
      
      .program_image_slide_box {
        width: 600px;
        height: 500px;
        position: relative;
        margin-top: -30px;
        
      }
      
      .program_image_slide_box .program_img img {
        width: 600px;
        height: 500px;
        border-radius: 16px;
        object-fit: cover;
      }
      .border_Khaer_omah{
        border: 3px solid #273574c8;

      }
      .border_aesha_radia{
        border: 3px solid #01B0C5c8;

      }
      .border_salem{
        border: 3px solid #ec6b08c8;

      }
      .border_sahby{
        border: 3px solid #006164c8;

      }
      .border_rabia_allah{
        border: 3px solid #979B4Ec8;

      }
      .border_rabia_allah_2{
        border: 1px solid #979B4Ec8;

      }
      .program_text_box{
        margin-top: 25px;
        box-shadow: 0 0 5px 5px #104e7010;
        border: 1px solid #087f5b3c;
        border-radius: 10px;
        width: 93%;
        margin-left: 10px;
        padding: 20px 15px;

       }
       @media (max-width:750px){
        .program_text_box{
          min-height: 420px;
         }
       }
       @media (max-width:450px){
        .program_text_box{
          min-height: 680px;
         }
       }

      .program_text{
        text-align: right;
        line-height: 1.8;
        color: #052c2a;
        font-size: 13px;
        margin-right: 10px;
           }
      .program_text:not(:last-child){
        margin-bottom: 20px;
          }

       .program_label{
         font-weight: 600;
        color: #064734 ;
        background-color: #06473329;
        padding: 4px 8px;
        border-radius: 5px;
        font-size: 14px;
        /* display: block; */
        width: fit-content;
        margin-left: auto;
         margin-right: -10px !important;

        }
          

      @media  (min-width:500px) and (max-width:750px) {
        /* .program_image_slide_box {
          width: 440px !important;
          height:367px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 440px !important;
          height:367px !important;
        }
      }
      @media (max-width:510px) {
        /* .program_image_slide_box {
          width: 380px !important;
          height: 317px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 380px !important;
          height: 317px !important;
        }
      }
      @media (max-width:430px) {
        /* .program_image_slide_box {
          width: 300px !important;
          height: 250px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 300px !important;
          height: 250px !important;
        }
      }

      .programs_slider_btns_control {
        position: relative;
        top: 0px !important;
         width: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* @media screen and (max-width:1100px){
        .programs_slider_btns_control {
            bottom: 30px;
          }
      }
      @media screen and (max-width:980px){
        .programs_slider_btns_control {
            bottom: 20px;
          }
      }
      @media screen and (max-width:500px){
        .programs_slider_btns_control {
            bottom: 0px;
          }
      } */

      
      
      
      .programs_slider_btns_control .swiper-pagination {
        position: relative !important;
        width: 160px !important; 
        bottom: 16px !important;
        text-align: center !important;
        overflow: hidden !important;
        z-index: -10 !important;
        margin-right: 80px !important;
      }
      
      .programs_slider_btns_control .swiper-pagination .swiper-pagination-bullet {
        background-color: #087b59 !important;
        transition: 0.3s ease !important;
      }
       
      .programs_slider_btns_control .swiper-pagination .swiper-pagination-bullet-active {
          width: 20px !important;
          border-radius: 10px !important;
          transition: 0.3s ease !important;
          background-color: #087f5b !important;
      }
      
      
      .swiper-wrapper{
        /* width: 500px; */
        text-align: center;
        margin-bottom: 50px;
      }
      
      .prev-btn,
      .next-btn{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
           color: #ffffff;
          border: 2px solid #087f5b;
          padding: 6px 10px;
           border-radius: 50%;
          cursor: pointer;
          top: -32px;
          background-color: #087f5b;
          z-index: 1;
       }
      
      .prev-btn{
        left: 3px;
       }
      .next-btn{
        right:  3px;
       }
      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        display: none;
      }

/* end programs slider */

/* //// start program section ///// */
.partner-container{
 margin-top: 55px;
 }
.partner-container .container{
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
 flex-wrap: wrap;
 margin-top: 20px;
 margin-bottom: 0px;
}
.part-img-container {
  width: 250px;
  height: 350px;
 }

 .flex-partner-item1 {
  width: 32%;
   text-align: left;
 
}
 .flex-partner-item2 {
  width: 45%;
  text-align: right;
   
}
@media screen and (max-width: 900px) {
  .part-img-container {
    width: 230px;
     height: 300px;
   }
   .flex-partner-item1 {
    width: 40%;
     
   
  }
   .flex-partner-item2 {
    width: 45%;
    
     
  }
}
@media screen and (max-width: 767px) {
  .partner-container .container{
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
  }
  .part-img-container {
    width: 230px;
     height: 300px;
     margin-bottom: 40px;
   }
   .flex-partner-item1 {
    width: 100%;
     text-align: center;
     margin-top: 80px;
   
  }
   .flex-partner-item2 {
    width: 80%;
    
     
  }
}
@media screen and (max-width: 600px) {
 
   .flex-partner-item2 {
    width: 100%;
    
     
  }
}

.partner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner-img{
 margin-bottom: 15px;
 width: 200px;
 height: 200px;
}


.landing-container-partner {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
     /* height: 400px; */
   box-shadow: 0 0 20px 20px #104e7010;
   border: 3px solid #7b4a3e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

@media screen and (max-width: 767px) {
  .landing-container-kid {
    width: 100%;
  }
}

.mySlides-partner {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;

  
 }

 

@media (max-width: 950px) {
  .kid-p-img {
    transform: scale(1.2);
    padding: 2%;
  }
}

.prev-partner,
.next-partner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #104E70;
  font-size: 33px;
  padding: 12px;
  /* background: #0000001b; */
  user-select: none;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.prev-partner:hover {
  background: #104e7017;
}
.next-partner:hover {
  background: #104e7017;
}

.prev-partner {
  border-radius: 0 5px 5px 0;
  left: -60px;
}
.next-partner {
  border-radius: 5px 0 0 5px;
  right: -60px;
}

.landing-container-partner:hover .prev-partner {
  left: 0px;
}
.landing-container-partner:hover .next-partner {
  right: 0px;
}

@media screen and (max-width: 767px) {
  .prev-partner,
  .next-partner {
    display: none;
  }
  
  .prev-partner:hover {
    background: transparent;
  }
  .next-partner:hover {
    background: transparent;
  }
}

.dots-container-partner {
 
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
   z-index: 1;
   text-align: center;
}
 


.mobile-arrow-container{
  position: relative;
}

.prev-mobile-partner,
.next-mobile-partner{
    display: none;
    font-size: 14px;
    color: #104E70c2;
    border: 2px solid #104E70c2;
    padding: 2px 4px;
     border-radius: 50%;
    cursor: pointer;
}

.prev-mobile-partner{
  left: -35px;
  bottom: -6px;
}
.next-mobile-partner{
  right: -35px;
  bottom: -6px;
}


@media screen and (max-width:767px){
    .prev-mobile-partner,
    .next-mobile-partner{
         position: absolute;
         display: block;
    }
}


.dots-partner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: #104E705f;
  backdrop-filter: blur(2px);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease;
}

.dots-partner:hover {
  background-color: #104E70c2;
}

.active-dot-partner {
  background-color: #104E70c2 !important;
  width: 25px !important;
  border-radius: 10px !important;
}

@media screen and (max-width: 767px) {
 
  .dots-partner {
    height: 6px;
    width: 6px;
  }
  .active-dot-partner {
    width: 25px !important;
  }
}

.animate-partner {
  -webkit-animation-name: animate-kid;
  -webkit-animation-duration: 0.3s;
  animation-name: animate-partner;
  animation-duration: 2s;
}

@keyframes animate-partner {
  from {
    transform: scale(1.05) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}

/* //// end program section ///// */

 
 
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
.current_progrm_box{
  direction: rtl;
  margin: 50px 0;
  margin-bottom: 130px;
}
/* / */
.program_person_box{
 width: 100%;
 margin: 0 auto;
 margin-bottom: 10px;
}
.program_person{
  display: flex;
  align-items: center;
  justify-content: center;
}
.program_person .current_progrm_label{
  padding: 15px 20px;
  padding-left: 250px;
}
.person_img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
/* / */
.name_she3ar_main_box{
 width: 100%;
 margin: 0 auto;
 margin-bottom: 50px;
}
.name_she3ar_box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.name_she3ar_box p{
  margin-top: 0px;
}
.name_she3ar_box div{ 
  text-align: center;
}
/* / */
.main_goal_box{
 width: 100%;
 margin: 0 auto;
 margin-bottom: 30px;
 text-align: center;
  margin-bottom: 50px;

}
.main_goal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_goal p{
  margin-top: -20px;
  max-width: 700px;
}
/* / */
.current_progrm_label{
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-left: auto;
  width: fit-content;
  color: #023133;
  background-color: #00c5cf9d;
  border: 1px solid #014a4e4b;
  box-shadow: 0 0 5px 5px #00000010;
  border-radius: 20px;
  padding: 15px 20px;
  padding-left: 130px;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.current_progrm_text{
  font-size: 16px;
  font-weight: 600;
  color: #013f42;
  line-height: 2.5;
   margin-bottom: 25px;
  }
 .current_progrm_list{
  font-size: 17px;
  font-weight: 600;
  color: #016e74;
    margin-bottom: 10px;
    margin-right: 15px !important;
    line-height: 1.7;

 }
 .current_progrm_list:last-child{
  margin-bottom: 30px;

 }
 
 .label_name{
  position: relative;

 }
 .label_name::before{
  position: absolute;
  content: "\f573";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
 .label_logo{
  position: relative;

 }
 .label_logo::before{
  position: absolute;
  content: "\f024";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
 .label_g_goal{
  position: relative;

 }
 .label_g_goal::before{
  position: absolute;
  content: "\f601";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
 
 .label_why{
  position: relative;

 }
 .label_why::before{
  position: absolute;
  content: "\e4ef";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
 .label_goals{
  position: relative;

 }
 .label_goals::before{
  position: absolute;
  content: "\f0ae";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
 .label_actvs{
  position: relative;

 }
 .label_actvs::before{
  position: absolute;
  content: "\f0eb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #92633c;
 }
/* / */
.actv_count_main_box{
 width: 100%;
 /* margin: 0 auto;
 text-align: center; */
margin-top: 40px;
margin-bottom: -20px;

}
/* .actv_count_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actv_count_box p{
  margin-top: -20px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
.current_progrm_text_price{
  font-size: 17px;
  font-weight: 600;
  color: #925b4f;
  line-height: 1.8;
   margin-top: 48px;
   text-align: center;
 }
.offer{
  font-size: 17px;
  font-weight: 600;
  color: #104E70;
  line-height: 1.8;
   margin-top: -35px;
   text-align: center;
 }

 .current_progrm_label_price{
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-left: auto;
  width: fit-content;
  color: #1deffa;
  background-color: #01494d;
  border-radius: 20px;
  padding: 15px 20px;
  padding-left: 130px;
  margin-bottom: 20px;
  position: relative;
  text-wrap: nowrap;

 }
 .current_progrm_label_price::before{
  position: absolute;
  content: "\e529";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #1deffa;
 }

.all_sub_main_box{
   width: 100%;
 margin: 0 auto;
 margin-bottom: 10px;
 }
 .all_sub_box{
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;

  gap: 40px;
 }

/* <!-- start sub section --> */
/* .sub_btn_box{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.btn {
    color: #1deffa;
  background-color: #01494d;
     position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
    cursor: pointer;


  }
  
  .btn div {
    background-color: #01494d;
    border-radius: 2rem;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 1rem 3rem;
    text-wrap: nowrap;
  }
  
  .btn::before {
    content: '';
    z-index: -1;
  background-color: #01494d;
    border: 2px solid white;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(20deg);
    transition: .5s;
    opacity: 0.2;
  }
  
 
  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  .btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
  }
  
  .btn:hover svg {
    width: 25px;
    transform: rotate(90deg);
     opacity: 1;
     margin-left: 20px;
  }
  
  .btn:active {
    filter: brightness(1.4);
  } */

  .continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #19c1ca;
  --folder-inner: #1DEFFA;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #92633C;
  --pencil-middle: #fff;
  --pencil-bottom: #92633C;
   border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
   /* -webkit-appearance: none; */
  -webkit-tap-highlight-color: transparent;
  padding: 20px 45px 20px 100px;
  transition: background 0.3s;
        background-color: #01494d;
    border-radius: 20px;
    color: #1DEFFA;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(120deg, #2b1709, #ac8569, #2b1709);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .3s;
    animation: gradientAnimation 1s infinite alternate;
 }
/* ///// */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
@media screen and (min-width: 500px) {
  .continue-application {
    width: 400px;
  }

}
.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: #2b1709;
  border-radius: 20px 0 0 20px;
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 17px;
  
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before {
  position: absolute;
  content: "\f25a";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 23px;
    color: #1DEFFA; 
  position: absolute;
  /* top: 20px; */
  top: 50%;
  transform: translateY(-50%);
  right: 95px;
  transition: transform 0.3s;
}



.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}

/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */

.form-container{
    /* box-shadow: 0px 0px 30px 15px #44444415; */
    position: relative;
    /* overflow: hidden; */
    display: block;
    margin-bottom: 60px  ;
    margin-right:   auto;
    margin-left:   auto;
    width: 75%;

    border-radius: 10px;
        height: 223vh !important;
}
    .form-frame{
        height: 220vh !important;
        width: 100%;
        border-radius: 20px;
      }

@media screen and (max-width: 767px) {
    .form-container{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 550px) {
.form-container{
    height: 168vh !important;
}
    .form-frame{
        height: 165vh !important;
      }
}

.form-head{
    position: absolute;
    height: 110px;
    background-color: #254258;
    top: -6px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 101%;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 767px) {
  .form-head{
    width: 102%;
    }
}
@media screen and (max-width: 400px) {
  .form-head{
    width: 104%;
    }
}

.form-label{
    position: absolute;
    top: 35px;
    left: 38px;
    color: #ffffff;
    background-color: #4a87b6;
    padding: 12px 16px;
    /* border: 1px solid white; */
    border-radius: 5px;
}

.submit{
    position: absolute;
    bottom: 17.9px;
    left: 49.6%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 2px;
    padding: 4px 19px;
    background-color: #056c46;
    color: white;
    pointer-events: none; /* Allow clicks to pass through */

}

@media screen and (min-width: 768px) and (max-width:1620px){
    .submit{
          left: 49.4%;
    }
}
@media screen and (max-width:767px){
    .submit{
          left: 49.2%;
          display: none;
    }
    .form-label{
       left: 20px;
       padding: 10px 14px;
       text-align: right;
       font-size: 14px;
   }
  
}

.submit:hover{
    background-color: #c29c9c;

}


/* loader */
.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 10px solid #ddd;
    border-radius: 50%;
    position: absolute; /* Ensure the loader is positioned correctly */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10; /* Ensure the loader is above the iframe */
  }
  
  .loader::before {
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 50%;
    border: 10px solid #767676;
    animation: l18 2s infinite linear;
  }
  
  @keyframes l18 {
      0%   {clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);}
      25%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);}
      50%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);}
      75%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);}
      100% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);}
  }
/* loader-2 */
.loader-2 {
    width: 60px;
    aspect-ratio: 1;
    border: 10px solid #ddd;
    border-radius: 50%;
    position: absolute; /* Ensure the loader is positioned correctly */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10; /* Ensure the loader is above the iframe */
  }
  
  .loader-2::before {
    content: "";
    position: absolute;
    inset: -10px;
    border-radius: 50%;
    border: 10px solid #767676;
    animation: l18 2s infinite linear;
  }
  
  @keyframes l18 {
      0%   {clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);}
      25%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);}
      50%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);}
      75%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);}
      100% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);}
  }
  /* ////// */

/* /////////////////////////////////////// */
.form-1{
  display: none;
  margin-top: 70px;
 }
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* start video section */
.events {
    margin: 80px auto;
    margin-bottom: 100px;
  }
  .events .container {
    max-width: 1200px;
    text-align: center;
  }
  
  .events-videos-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
    width: 100%; /* Ensure it uses available space but respects max-width */
    padding: 20px; /* Optional: add some padding for spacing */
    max-width: 1200px; /* or any width you prefer */
    margin: 0 auto;
    margin-top: -90px;
    
  }
  
  .video-container {
    text-align: center;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    position: relative;
    width: 100%;  
    max-width: 500px; /* Main width */
    height: 310px; /* Main height */
    background-color: #ffffff;  
    overflow: hidden;  
    margin: auto;  
    border: 5px solid #01939b;
    border-radius: 15px;
    
  }
  @media screen and (max-width: 620px){
    .events-videos-box {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      max-width: 1200px; /* or any width you prefer */
      margin-top: -90px; 
    }
    .video-container {
      max-width: 400px; /* Main width */
      height: 240px; /* Main height */
    }
  
}
  @media screen and (max-width: 500px){
    .events-videos-box {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      max-width: 1200px; /* or any width you prefer */
      margin-top: -90px; 
    }
    .video-container {
      max-width: 350px; /* Main width */
      height: 210px; /* Main height */
    } 
}
  @media screen and (max-width: 450px){
    .events-videos-box {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      max-width: 1200px; /* or any width you prefer */
      margin-top: -90px; 
    }
    .video-container {
      max-width: 290px; /* Main width */
      height: 190px; /* Main height */
    } 
}

  
  .events-videos-box iframe {
    border-radius: 10px;
    width: 100%; /* Full width of the container */
    height: 100%; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure it fills the container height */
    max-width: 100%; /* Prevent the iframe from exceeding the container width */
    object-fit: cover;
  }
  
  
  /* Media query to handle smaller screens */
  /* Force 2 columns on smaller screens */
  /* Adjust the value as needed */
  /* @media (max-width: 1144px) {
    .events-videos-box {
      grid-template-columns: 1fr 1fr; 
    } */
  
    /* Center the third div in the second row */
    /* Span across two columns to center */
/* Center within the spanned columns */
    /* .events-videos-box > div:nth-child(3) {
      grid-column: span 2; 
      justify-self: center; 
    } */
  
  /* Adjust the value as needed */
  /* @media (max-width: 767px) {
    .events-videos-box {
      display: flex;
      flex-direction: column;
    }
  } */
  
  
  .video-thumbnail img {
    position: relative;
    border-radius: 5px;
    transition: transform 0.3s;
    height: 100%;
    width: 100%;
 
  }
  .video-thumbnail {
    position: absolute;
    text-align: center;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .video-thumbnail::before{
    position: absolute;
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #ffffff; 
    background-color: #092d3880;
    padding: 18px 21px;
    border-radius: 1000px;
    z-index: 1;
    pointer-events: none;
    transition: all 200ms ease-in;
   }
    
   .video-thumbnail:hover::before{
     
     transition: all 200ms ease-in;
     transform: scale(1.1);
    }
  
  /* Fade-out animation */
  .fade-out {
    animation: fadeOut 0.3s forwards; /* Animation duration and forwards to retain final state */
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
/* end video section */
.name_she3ar_box_one{
  margin-top: -35.5px;
}
/* ///////////////////////////////////////////////// */
@media screen and (max-width: 880px) {
.program_person .current_progrm_label{
  padding: 15px 20px;
  padding-left: 100px;
}
.person_img img{
  width: 200px;
  height: 143px;
}
/* / */
.name_she3ar_box{
  gap: 150px;
}
/* / */
.main_goal_box{
 width: 100%;
 margin: 0 auto;
}
.main_goal p{
  margin-top: -20px;
  max-width: 700px;
}
/* / */
.current_progrm_label{
  font-size: 14px;
  padding: 15px 20px;
  padding-left: 100px;
}
.current_progrm_text{
  font-size: 16px;
  font-weight: 600;
  color: #013f42;
   margin-bottom: 25px;
  }
 .current_progrm_list{
  font-size: 17px;
  font-weight: 600;
  color: #016e74;
    margin-bottom: 10px;
    margin-right: 15px !important;
    line-height: 1.7;

 }
 .current_progrm_list:last-child{
  margin-bottom: 30px;

 }
 
 .label_name{
  position: relative;

 }
 .label_name::before{
  position: absolute;
  content: "\f573";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
 .label_logo{
  position: relative;

 }
 .label_logo::before{
  position: absolute;
  content: "\f024";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
 .label_g_goal{
  position: relative;

 }
 .label_g_goal::before{
  position: absolute;
  content: "\f601";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
 /* //// */
 .label_why{
  position: relative;

 }
 .label_why::before{
  position: absolute;
  content: "\e4ef";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
 .label_goals{
  position: relative;

 }
 .label_goals::before{
  position: absolute;
  content: "\f0ae";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
 .label_actvs{
  position: relative;

 }
 .label_actvs::before{
  position: absolute;
  content: "\f0eb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  font-size: 25px;
  left: 20px;
  color: #92633c;
 }
/* / */
.actv_count_main_box{
 width: 100%;
 /* margin: 0 auto;
 text-align: center; */
margin-top: 40px;
margin-bottom: -20px;

}
/* .actv_count_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actv_count_box p{
  margin-top: -20px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
.current_progrm_text_price{
  font-size: 16px;
  font-weight: 600;
  color: #925b4f;
  line-height: 1.8;
   margin-top: 48px;
 }

 .current_progrm_label_price{
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-left: auto;
  width: fit-content;
  color: #1deffa;
  background-color: #01494d;
  border-radius: 20px;
  padding: 15px 20px;
  padding-left: 130px;
  margin-bottom: 20px;
  position: relative;
  text-wrap: nowrap;

 }
 .current_progrm_label_price::before{
  position: absolute;
  content: "\e529";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-size: 30px;
  left: 20px;
  color: #1deffa;
 }

.all_sub_main_box{
   width: 100%;
 margin: 0 auto;
 margin-bottom: 10px;
 }
 .all_sub_box{
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;

  gap: 50px;
 }
}

/* /* ////////////////////////////////////// */
@media screen and (max-width: 700px) {
.program_person .current_progrm_label{
  padding: 10px 15px;
  padding-left: 65px;
}
.person_img img{
  width: 170px;
  height: 121px;
}
/* / */
.name_she3ar_main_box{
display: flex;
justify-content: center;
align-items: center;

}
.name_she3ar_box_one{
  width: 50%;
}
.name_she3ar_box_two{
    width: 50%;

}
.name_she3ar_box{
  gap: 50px;
  margin: 0 auto;
  margin-top: 30px;
}
/* / */
.main_goal_box{
 width: 100%;
 margin: 0 auto;
 margin-bottom: 30px;
}
.main_goal p{
  margin-top: -20px;
  max-width: 700px;
}
/* / */
.current_progrm_label{
  font-size: 12px;
  padding: 10px 15px;
  padding-left: 65px;
}
.current_progrm_text{
  font-size: 15px;
  font-weight: 600;
  color: #013f42;
   margin-bottom: 25px;

  }
 .current_progrm_list{
  font-size: 17px;
  font-weight: 600;
  color: #016e74;
    margin-bottom: 10px;
    margin-right: 15px !important;
    line-height: 1.7;

 }
 .current_progrm_list:last-child{
  margin-bottom: 30px;

 }
 
 .label_name{
  position: relative;

 }
 .label_name::before{
  position: absolute;
  content: "\f573";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
 .label_logo{
  position: relative;

 }
 .label_logo::before{
  position: absolute;
  content: "\f024";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
 .label_g_goal{
  position: relative;

 }
 .label_g_goal::before{
  position: absolute;
  content: "\f601";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
 /* //// */
 .label_why{
  position: relative;

 }
 .label_why::before{
  position: absolute;
  content: "\e4ef";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
 .label_goals{
  position: relative;

 }
 .label_goals::before{
  position: absolute;
  content: "\f0ae";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
 .label_actvs{
  position: relative;

 }
 .label_actvs::before{
  position: absolute;
  content: "\f0eb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  left: 10px;
  font-size: 22px;
  color: #92633c;
 }
/* / */
.actv_count_main_box{
 width: 100%;
 /* margin: 0 auto;
 text-align: center; */
margin-top: 40px;
margin-bottom: -20px;

}
/* .actv_count_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actv_count_box p{
  margin-top: -20px;
} */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
.all_sub_main_box{
   width: 100%;
 margin: 0 auto;
 margin-bottom: 10px;
 }
 .all_sub_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
 }
.current_progrm_text_price{
  font-size: 14px;
  font-weight: 600;
  color: #925b4f;
  line-height: 1.8;
   margin-top: 48px;
   text-wrap: nowrap;
 }

 .current_progrm_label_price{
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-left: auto;
  width: fit-content;
  color: #1deffa;
  background-color: #01494d;
  border-radius: 20px;
  padding: 20px 18px;
  padding-left: 60px;
  margin-bottom: 20px;
  position: relative;
  text-wrap: nowrap;

 }
 .current_progrm_label_price::before{
  position: absolute;
  content: "\e529";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  left: 15px;
  font-size: 21px;
  color: #1deffa;
 }
.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #19c1ca;
  --folder-inner: #1DEFFA;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #92633C;
  --pencil-middle: #fff;
  --pencil-bottom: #92633C;
   border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
   /* -webkit-appearance: none; */
  -webkit-tap-highlight-color: transparent;
  padding: 20px 45px 20px 150px;
  transition: background 0.3s;
    border-radius: 20px;
    color: #1DEFFA;
    font-size: 20px;
    font-weight: 700;
      text-wrap: nowrap;
      margin-top: 4px;
 }
/* ///// */
/* ///// */
.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  border-radius: 20px 0 0 20px;
}

.continue-application > div .folder {
  width: 17px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 20px;
  
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before {
  position: absolute;
  content: "\f25a";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 20px;
    color: #1DEFFA; 
  position: absolute;
  /* top: 23px; */
    top: 50%;
  transform: translateY(-50%);
  right: 17px;
  transition: transform 0.3s;
}



.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}


}

/* ///////////// Q and A //////////// */
.Q_and_A_head{
margin: 60px 38px 28px 0;
position: relative;
color: #037379;
}
.question_mark{
  position: absolute;
  width: 35px;
  height: 35px;
  right: -38px;
  top: 50%;
  transform: translateY(-50%);
}
.Q_and_A_box{
  border: 1px solid #ddd3ce;
  box-shadow: 0 2px 3px 3px #b69d882a;
  margin-bottom: 20px;
  padding: 30px 15px;
  border-radius: 10px;
  cursor: pointer;

}
.Q_head{
  color: #706c69;
  font-weight: 700;
  position: relative;
  margin-right: 45px;
  font-size: 17px;
  line-height: 2;
}
.Q_head img{
  position: absolute;
  width: 40px;
  height: 40px;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}
.Q_head::before{
   content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  position: absolute;
  font-size: 25px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #b69d88;
  transition: transform 0.3s ease;

}
.Q_head.open::before {
  transform: rotate(180deg);
}

.answer_box {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.answer_box p {
  margin: 25px 40px 15px 0;
  padding-left: 20px;
  line-height: 2;
  color: #5e5a58;
}

.Q_and_A_box:hover{
  border: 1px solid #9e9794;
  box-shadow: 0 2px 3px 3px #b69d8834;
  transition-duration: 0.4s;
  transform: translateY(-4px);
}
.Q_and_A_box:hover .Q_head img{
  opacity: 1;
  transition-duration: 0.4s;

}

@media screen and (max-width: 650px){
.Q_and_A_head{
margin: 60px 38px 28px 0;
font-size: 20px;
}
.question_mark{
  width: 30px;
  height: 30px;
  right: -35px;
}
.Q_and_A_box{
  margin-bottom: 20px;
  padding: 20px 15px;
}
.Q_head{
  font-size: 12px;
  margin-right: 30px;
  line-height: 2;
  padding-left: 25px;
}
.Q_head img{
  width: 30px;
  height: 30px;
  right: -35px;
}
.Q_head::before{
  font-size: 20px;
  left: 5px;

}

.answer_box p {
  margin: 20px 10px 15px 0;
  padding-left: 20px;
  line-height: 2;
}
}
