 
.soon-header{
   background-color: #092D38;

}

/* start programs slider */

      /* slider section  */
      #programs_slider_box {
        padding:  0 !important;
        text-align: center;
        margin: 150px 0;
          }
      .programs_slider_container{
        width: 1000px;
        margin: auto;
          }
       
      @media (max-width:1100px) {
       
        .programs_slider_container{
          width: 700px;
          margin: auto;
            }
      }
      @media (max-width:750px) {
        #programs_slider_box {
          padding: 112px 0;
        }
        .programs_slider_container{
          width: 100%;
          margin: auto;
            }
      }
      
      #programs_slider_box .programs-slider {
         padding: 32px 0;
        position: relative;
      
      }
      
       
      
      .program_image_slide_box {
        width: 600px;
        height: 500px;
        position: relative;
        
      }
      
      .program_image_slide_box .program_img img {
        width: 600px;
        height: 500px;
        border-radius: 16px;
        object-fit: cover;
      }
      .border_Khaer_omah{
        border: 3px solid #273574c8;

      }
      .border_aesha_radia{
        border: 3px solid #01B0C5c8;

      }
      .border_salem{
        border: 3px solid #ec6b08c8;

      }
      .border_sahby{
        border: 3px solid #006164c8;

      }
      .border_rabia_allah{
        border: 3px solid #979B4Ec8;

      }
      .border_rabia_allah_2{
        border: 1px solid #979B4Ec8;

      }
      .program_text_box{
        margin-top: 25px;
        box-shadow: 0 0 5px 5px #104e7010;
        border: 1px solid #087f5b3c;
        border-radius: 10px;
        width: 93%;
        margin-left: 10px;
       }
      .program_text{
        text-align: right;
        line-height: 1.8;
        color: #07403c;
        font-weight: 600;
        padding: 30px 20px;
          }

      @media  (min-width:500px) and (max-width:750px) {
        /* .program_image_slide_box {
          width: 440px !important;
          height:367px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 440px !important;
          height:367px !important;
        }
      }
      @media (max-width:510px) {
        /* .program_image_slide_box {
          width: 380px !important;
          height: 317px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 380px !important;
          height: 317px !important;
        }
      }
      @media (max-width:430px) {
        /* .program_image_slide_box {
          width: 300px !important;
          height: 250px !important;
        } */
        .program_image_slide_box .program_img img {
          width: 300px !important;
          height: 250px !important;
        }
      }

      .programs_slider_btns_control {
        position: relative;
        bottom: -20px;
        width: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      
      
      .programs_slider_btns_control .swiper-pagination {
        position: relative !important;
        width: 160px !important; 
        bottom: 16px !important;
        text-align: center !important;
        overflow: hidden !important;
        z-index: -10 !important;
        margin-right: 70px !important;
      }
      
      .programs_slider_btns_control .swiper-pagination .swiper-pagination-bullet {
        background-color: #087b59 !important;
        transition: 0.3s ease !important;
      }
       
      .programs_slider_btns_control .swiper-pagination .swiper-pagination-bullet-active {
          width: 20px !important;
          border-radius: 10px !important;
          transition: 0.3s ease !important;
          background-color: #087f5b !important;
      }
      
      
      .swiper-wrapper{
        /* width: 500px; */
        text-align: center;
        margin-bottom: 50px;
      }
      
      .prev-btn,
      .next-btn{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
           color: #ffffff;
          border: 2px solid #087f5b;
          padding: 6px 10px;
           border-radius: 50%;
          cursor: pointer;
          top: -32px;
          background-color: #087f5b;
          z-index: 1;
       }
      
      .prev-btn{
        left: 3px;
       }
      .next-btn{
        right:  3px;
       }
      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        display: none;
      }

/* end programs slider */

/* //// start program section ///// */
.comp-def-box{
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
     margin-bottom: 100px;
    box-shadow: 0 0 20px 20px #104e7010;
    border-radius: 10px;
    height: fit-content;
}
/* @media screen and (max-width:767px){
  .comp-def-box{
    margin-top: 0px;
}
} */

.comp-def-info{
    padding: 30px 20px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}
.comp-def-head-box{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.def-icon{
    margin-left: auto;
    margin-bottom: 10px;
      width: fit-content;
      padding: 12px;
      font-size: 20px;
      border-radius: 5px;
      color: #424946;
       background-color: #d8e8e8;
    
}
.comp-def-head{
    font-size: 20px;
    color: #424946;
    margin-bottom: 15px;
     width: fit-content;
 }
.comp-def-text{
 font-size: 1rem;
 line-height: 1.7;
 color: #424946;
 font-weight: 400;
}

.def-img-container {
  position: relative;
  overflow: hidden;
   width: 45%;
  margin: 0 auto;
  height: auto;
  border-radius: 0 10px 10px 0;
}

/* The image fills its container and maintains aspect ratio */
.def-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, padding 0.1s ease-in-out;
  padding: 0; /* Ensure no padding initially */
  /* aspect-ratio: 4/1 !important; */
}

/* Zoom effect on smaller screens */
@media (max-width: 950px) {
  .def-img {
    transform: scale(1.2); /* Increase the zoom level */
    padding: 8%; /* Adds padding for a more dynamic effect */
  }
}


@media screen and (max-width:980px){
  .comp-def-box{
    display: block;
   }
   .comp-def-info{
    width: 100%;
    /* margin-top: -50px; */
   }
   .def-img-container {
    width: 100%;
    /* height: 450px; */
    border-radius: 10px 10px 0 0;

   }
   .def-img{
    height: 95%;
    margin-top: -27px;
   }
}


/* //// end program section ///// */

 