
/* ///// start landing section  ///// */
.landing-container{
    overflow: hidden;
    position: relative;
    margin-top: -90px;
    margin-bottom: 130px;
  }

  @media screen and (max-width: 767px){
    .landing-container{
        margin-top: 0;
       }
    
}

.mySlides{
    display: none;
}

.mySlides .cover-img{
    display: block;
    width: 100%;
    height: 700px;
}
@media screen and (max-width:767px){
    .mySlides .cover-img{
        height: 420px;
    }
}

.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    background: #add8e611;
    user-select: none;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.prev:hover{
    background: #add8e625;

}
.next:hover{
    background: #add8e625;
}

.prev{
     border-radius: 0 5px 5px 0;
    left: -60px;
}
.next{
     border-radius: 5px 0 0 5px;
    right: -60px;
 
}

.landing-container:hover .prev{
    left: 0px;
}
.landing-container:hover .next{
     right: 0px;
}
@media screen and (max-width:767px){
    .prev{
        left: 0;
 
    }
    .next{
        right: 0;
 
    }
    
}

.dots-container{
    position: absolute;   
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.dots-container .dots{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #add8e633;
    backdrop-filter: blur(2px);
    display: inline-block;
    cursor: pointer;
    transition:0.3s ease;
}


.dots:hover {
  background-color: #add8e6cc;
}
.active{
    background-color: #add8e6cc !important;
}


.animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 0.3s;
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.05) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }

/* //// end landing section ///// */

/* //// start def section ///// */
.comp-def-box{
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 40px 10px #b0848423;
    border-radius: 10px;
    height: fit-content;
}

.comp-def-info{
    padding: 30px 20px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}
.comp-def-head-box{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.def-icon{
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
    width: fit-content;
    background-color: #d0ebff;
    color: #1d69ac;
    padding: 12px;
    
}
.comp-def-head{
    font-size: 20px;
    color: #151d44;
    margin-bottom: 15px;
     width: fit-content;
 }
.comp-def-text{
 font-size: 1rem;
 line-height: 1.7;
 color: #343e6e;
 font-weight: 400;
}

.def-img-container {
  position: relative;
  overflow: hidden;
   width: 45%;
  margin: 0 auto;
  height: auto;
  border-radius: 10px 0 0 10px;
}

/* The image fills its container and maintains aspect ratio */
.def-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0; /* Ensure no padding initially */
}

/* Zoom effect on smaller screens */
@media (max-width: 950px) {
  .def-img {
      transform: scale(1.2); /* Increase the zoom level */
      padding: 8%; /* Adds padding for a more dynamic effect */
  }
}

@media screen and (max-width:830px){
  .comp-def-box{
    display: block;
   }
   .comp-def-info{
    width: 100%;
    margin-top: -50px;
   }
   .def-img-container {
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0 0;

   }
   .def-img{
    height: 95%;
    margin-top: -27px;

   }
}

/* //// end def section ///// */

/* //// start levels section ///// */


.comp-level-box{
    direction: rtl;
}
.lvls-info{
        display: inline-flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 100px;
        box-shadow: 0px 0px 40px 10px #b0848423;
        border-radius: 10px;
        height: fit-content;
}
.comp-level-box-info{
    padding: 30px 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comp-level-head-box{
    display: flex;
    flex-direction: column;
    
}
.level-icon{
    margin: 10px 0 15px 0;
    font-size: 25px;
    border-radius: 5px;
    width: fit-content;
    background-color: #d0ebff;
    color: #1d69ac;
    padding: 12px;
}
.comp-level-head{
    font-size: 21px;
    color: #151d44;
    margin-bottom: 20px;
     width: fit-content;
}
.comp-level-text{
    font-size: 16px;
    line-height: 2;
    color: #343e6e;
    font-weight: 400;
}  


.level-img-container {
  position: relative;
  overflow: hidden;
   width: 45%;
  margin: 0 auto;
  height: auto;
  border-radius: 0 10px 10px 0;
}

/* The image fills its container and maintains aspect ratio */
.lvls-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0; /* Ensure no padding initially */
}

/* Zoom effect on smaller screens */
@media (max-width: 950px) {
  .lvls-img {
    transform: scale(1.2); /* Increase the zoom level */
    padding: 8%; /* Adds padding for a more dynamic effect */
  }
}

@media screen and (max-width:830px){
  .lvls-info{
    display: block;
   }
   .comp-level-box-info{
    width: 100%;
    margin-top: -50px;

   }
   .level-img-container {
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0 0;

   }
   .lvls-img{
    height: 95%;
    margin-top: -27px;

   }
}



/* slider css */

.swiper-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3c5b;
    background-image: 
        radial-gradient(at 47% 33%, hsl(243, 18%, 56%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(217, 22%, 26%) 0, transparent 55%);
     border-radius: 10px;
    height: 630px;
    position: relative;
    margin-bottom: 50px;
    padding: 0 60px;
    position: relative;

}


.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin-bottom: 340px;

  }
  

  .card-list .card-item {
    /* user-select: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .card-list .card-item .user-image {
    margin-bottom: 30px;
    opacity: 0.5;
    clip-path: circle(50% at 50% 50%);
    cursor: pointer;
    transition: 0.2s;
    
  }
  .card-list .card-item .user-image:hover{
    transition: 0.3s;
    opacity: 1 !important;
  }


.img-arrow{
    position: relative;
    background-color: transparent !important;
    transition: 0.3s ease;


}

.img-arrow::before{
    position: absolute ;
    content: "" ;
    border-width: 0px ;
    border-color: transparent transparent #0f1f37 transparent ;
    z-index: 1;
    border-style: solid ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.img-arrow.active::before{
    border-width: 18px ;
    transition: 0.3s ease;
}



  .slider-wrapper .swiper-pagination-bullet {
    display: none;
    /* background: #fff;
    height: 13px;
    width: 13px;
    margin-bottom: 20px !important;
    transition: 0.3s;
    opacity: 0.4; */
  }
  
  /* .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 0.8;
    width: 25px;
    border-radius: 10px;
    transition: 0.3s;
  } */
  
  .slider-wrapper .swiper-slide-button {
    color: #ffffff83;
    transition: 0.3s;
    position: absolute;
    top: 135px;
    font-weight: 600;
  }
  
  .swiper-button-prev{
    right: 20px !important;
  
  }
  .swiper-button-next{
    left: 20px !important;

  }
  
  .slider-wrapper .swiper-slide-button:hover {
    color: #ffffff;
    transition: 0.3s;

  }



  .image-description {
    position: absolute;
    top: 242px;
    right: 50%;
    transform: translateX(50%);
    display: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    backdrop-filter: blur(25px) saturate(120%);
    -webkit-backdrop-filter: blur(25px) saturate(10%);
    background-color: rgba(241, 243, 248, 0.19);
    border-radius: 12px;
    border: 2px solid #ffffff20;
    width: 85%;
    height: 360px;
    padding: 15px 20px;
    border-radius: 10px;
  }

  .lvls-text h3{
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
    padding: 8px 13px;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #2d477741;
    border: 2px solid #ffffff20;

  }

  .lvls-text p{
    margin-bottom: 5px;
    font-size: 15px;
    margin-right: 21px;
    font-weight: 700;
    line-height: 1.2;
  }

  .lvls-text strong{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    padding: 8px 12px;
    width: fit-content;
    margin-top: 17px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #1b4d25;
  }

  .save-track{
    display: flex;
  }
  .track{
    margin-right: 20%;
  }


  /* //// end levels section ///// */

  /* //// start geo section ///// */

.geo-container{
  direction: rtl;
  margin-bottom: 100px;
}
.all,
.half,
.more,
.ch-and-half{
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  padding-left: 60px;
  margin-bottom: 20px;
  width: fit-content;
  background-color: #535d9b;
  color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  line-height: 2;
}

@media screen and (max-width:767px){
  .all,
.half,
.more,
.ch-and-half{
  font-size: 17px;
}
}

.all:hover{
  background-color: #495087;
  transition: 0.3s;
}
.half:hover{
  background-color: #495087;
  transition: 0.3s;
}
.more:hover{
  background-color: #495087;
  transition: 0.3s;
}
.ch-and-half:hover{
  background-color: #495087;
  transition: 0.3s;
}





.all::before{
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  font-size: 25px;
   left: 16px;
   transition: transform 0.5s ease;
}

.half::before{
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  font-size: 25px;
   left: 16px;
   transition: transform 0.5s ease;

}
.more::before{
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  font-size: 25px;
   left: 16px;
   transition: transform 0.5s ease;

}
.ch-and-half::before{
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  font-size: 25px;
   left: 16px;
   transition: transform 0.5s ease;
}

@media screen and (max-width:767px){
  .all::before{
    top: 6px;
    font-size: 24px;
     left: 18px;
  }
  .half::before{
    top: 6px;
    font-size: 24px;
     left: 18px;
  }
  .more::before{
    top: 6px;
    font-size: 24px;
     left: 18px;
  }
  .ch-and-half::before{
    top: 6px;
    font-size: 24px;
     left: 18px;
  }
}

/* Rotate 180 degrees when active */
.all.rotate::before {
  transform: rotate(180deg);
}
.half.rotate::before {
  transform: rotate(180deg);
}
.more.rotate::before {
  transform: rotate(180deg);
}
.ch-and-half.rotate::before {
  transform: rotate(180deg);
}


.map-all-container,
.map-all-half-container,
.map-more-container,
.map-ch-container{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.down-div.show {
  max-height: 500px; /* Adjust this value to fit your content */
}

.geo-h5{
  font-size: 16px;
  font-weight: 600;
  padding: 13px 22px;
  margin-bottom: 20px;
  width: fit-content;
  background-color: #96f2d7;
  border: 1px solid rgb(109, 193, 126);
  color: #000000;
  border-radius: 5px;
}

.geo-head-box img{
  margin-bottom: 30px;
  width: 340px;
  max-width: 400px;
  height: 290px;
  border-radius: 5px;
  border: 1px solid #00000062;
}














.record{
    direction: rtl;
}

.record-box{
    margin-bottom: 100px;
}

.record-link-box{
  text-align: center;
}
 
.record-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: #616cb5;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #616cb5;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .record-link:hover {
    background-color: #495185;
  }
  
  .record-link:hover .button__icon-wrapper {
    color: #363c65;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .record-link:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .record-link:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }