.zpcont-title{
    background-color: blueviolet !important;
}

.form-frame{
    position: relative;
    border: none;
    width: 100%;;
    height: 72vh;
  }

.form-container{
    box-shadow: 0px 0px 20px 20px #ceb1e94e;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 100px auto;
    width: 65%;
}

@media screen and (max-width: 767px) {
    .form-frame{
        height: 100vh;
      }
    
    .form-container{
        width: 100%;
        margin:0;
    }
}

.comp-reg-img{
    width: 100%;
}