.zpcont-title{
    background-color: blueviolet !important;
}

.form-frame{
    position: relative;
    border: none;
    width: 100%;;
    height: 70vh;
  }

.form-container{
    margin: 30px 50px 10px 50px;
    box-shadow: 0px 0px 20px 20px #ceb1e94e;
    position: relative;
    overflow: hidden;

}

@media screen and (max-width: 767px) {
    .form-frame{
        height: 100vh;
      }
    
    .form-container{
        margin: 0;
    
    }
}

.comp-reg-img{
    width: 100%;
}