*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-color: ;
    --alt-color : #669bcc;
    --header-height : 80px; 
    --main-transition:0.3s;
    --bg-color: #f7f9f7;
    --onhover:#e8ecf1;
}

body{
    font-family: "Alexandria", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container{
    padding: 0 25px;
    margin: 0 auto;
}

/* media query for main container */
/* desktop */
@media screen and (min-width: 1440px){
    .container {
        width: 1380px;
    }
}
/* laptop */
@media screen and (min-width: 1024px) and (max-width:1439px){
    .container {
        width: 1000px;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width:1023px){
    .container {
        width: 95%;
    }
}
/* mobile */
@media screen and (max-width: 767px){
    .container {
        width: 100%;
    }
}

.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: relative;
    z-index: 1;
}


.logo-container{
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
    width: 40px;
    height: 60px;
}


.logo-label{
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
    color: #ffffff;
}

.d-nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}

.d-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    padding:10px 15px ;
    margin-left: 15px;
    color: #ffffff;
    border-radius:  2px;
    cursor: pointer;
    text-wrap: nowrap;
}

@media screen and (max-width:970px){
    .d-links{
        font-size: 13px;
        margin-left: 5px;
    }
}

.d-links::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 50%;
    transition-duration:var(--main-transition);
 }
.d-links:hover::before{
    width: 50%;
}
.d-links::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    right: 50%;
    transition-duration: var(--main-transition);
}
.d-links:hover::after{
    width: 50%;
}

.d-links-active{
    background-color: #5d5d5d;
    color: white;
    transition: var(--main-transition);
}

.m-nav{
    position: absolute;
    overflow: hidden;
    background-color: #000000b6;
    top: 0;
    right: 0;
    width: 0;
    list-style: none;
    
}

.m-nav-container{
    padding-top: 70px;
}
.m-nav li{
    opacity: 1;
    transform: translateX(-100%)
  }
.trans:nth-of-type(1){
    -webkit-animation: translateIntro .3s .1s ease forwards;
    animation: translateIntro .3s .1s ease forwards;
}
.trans:nth-of-type(2){
    -webkit-animation: translateIntro .3s .2s ease forwards;
    animation: translateIntro .3s .2s ease forwards;
}
.trans:nth-of-type(3){
    -webkit-animation: translateIntro .3s .3s ease forwards;
    animation: translateIntro .3s .3s ease forwards;
}
.trans:nth-of-type(4){
    -webkit-animation: translateIntro .3s .4s ease forwards;
    animation: translateIntro .3s .4s ease forwards;
}
.trans:nth-of-type(5){
    -webkit-animation: translateIntro .3s .4s ease forwards;
    animation: translateIntro .3s .4s ease forwards;
}
.trans:nth-of-type(6){
    -webkit-animation: translateIntro .3s .5s ease forwards;
    animation: translateIntro .3s .5s ease forwards;
}
.trans:nth-of-type(7){
    -webkit-animation: translateIntro .3s .5s ease forwards;
    animation: translateIntro .3s .5s ease forwards;
}
@-webkit-keyframes translateIntro {
    to { opacity: 1; transform: translateX(0%); }
}
@keyframes translateIntro {
    to { opacity: 1; transform: translateX(0%); }
}

.show-m-nav{
    width: 100%;
    height: 550px;
     z-index: -1;
    transition-duration: var(--main-transition);
}



.m-links{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 1px solid #b9b9b9; */
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition-duration: var(--main-transition);
}

.m-links:hover{
    padding-right: 20px;
    color: #d3d3d3;
}

.menuButton {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 3.1em;
    height: 3.1em;
    border-radius: 0.5em;
    background: #e8e8e8a9;
    border: 2px solid #e8e8e8;
    transition: all .3s;
    cursor: pointer;
}

.menuButton:hover {
  border: 2px solid white;
  transition-duration: var(--main-transition);
}

.menuButton:active {
    border: 2px solid white;
    transition-duration: var(--main-transition);

}

input[type = "checkbox"] {
  /* display: none; */
  /* visibility: hidden; */
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #131313;
  border-radius: 100px;
  transition: 0.3s ease;
}

/* input[type]:checked ~ span.top {
  transform: translateY(290%)rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
} */
/* /////// */

/* showing toogle and mobile nav */
@media screen and (max-width:767px){
    .menuButton{
        display: flex;
    }
    .d-nav{
        display: none;
    }
    

}
@media screen and (min-width:768px){
    .m-nav{
        width: 0;
    }
}

.landing-container{
    overflow: hidden;
    position: relative;
    margin-top: -81px;
    margin-bottom: 130px;
  }

.mySlides{
    display: none;
}

.mySlides .cover-img{
    display: block;
    width: 100%;
    height: 700px;
}
@media screen and (max-width:767px){
    .mySlides .cover-img{
        height: 550px;
    }
}

.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    background: #add8e61a;
    user-select: none;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.prev:hover{
    background: #add8e64b;

}
.next:hover{
    background: #add8e64b;
}

.prev{
    left: 0;
    border-radius: 0 5px 5px 0;
    left: -60px;
}
.next{
    right: 0;
    border-radius: 5px 0 0 5px;
    right: -60px;
 
}

.landing-container:hover .prev{
    left: 0px;
}
.landing-container:hover .next{
     right: 0px;
}

.dots-container{
    position: absolute;   
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.dots-container .dots{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #add8e633;
    backdrop-filter: blur(2px);
    display: inline-block;
    cursor: pointer;
    transition:0.3s ease;
}


.dots:hover {
  background-color: #add8e6cc;
}
.active{
    background-color: #add8e6cc !important;
}


.animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 0.3s;
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.05) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }

/* //// end landing section ///// */

/* start general informations section */

.general-info-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
    gap: 40px;
    direction: rtl;
    margin-bottom: 140px;
}

@media screen and (max-width:767px){
    .general-info-container{
        display: block;
        width: 100%;
    }
    .vision,
    .msg,
    .value,
    .aims{
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    .general-info-container{
         grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
     }
}


.vision,
.msg,
.value,
.aims{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: 0 1px 15px #00000011;
    border-radius: 10px;
}

.info-svg{
    height: 45px;
    width: 45px;
   }

.info-head{
    display: inline-block;
    margin: 10px 0 13px 0;
    font-size: 16px;
    color: #343a40;

}

.info-text{
    font-size: 14px;
    color: #405466;
    line-height: 2.1;

}

.aims-ul{
    list-style: none;
}

/* end general informations section */

/* /////// start news section  //////// */
.news{
    position: relative;
     direction: rtl;
     background-color: #F4F6FA;
     padding: 50px;
     margin-bottom: 150px;
}
.n-head{
    width: fit-content;
    margin: 50px auto;
    font-size: 25px;
    font-weight:700;
    position: relative;
    color: #263b44;
    padding: 15px 25px;
    border: 2px solid #000;
    transition-duration: 0.6s;
}
.n-head::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #616cb5;
    transition-duration:var(--main-transition);

}
.n-head::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #616cb5;
    transition-duration:var(--main-transition);

}

.n-head:hover{
    z-index: 1;
    color: #ffffff;
    transition-delay: 0.5s;
    border-color: #ffffff;
}

.n-head:hover::before{
     z-index: -1;
     animation: left-move 0.5s linear forwards;
}
.n-head:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;

    }
}
@keyframes right-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;

    }
}

.full-news-container{
    display: flex;
    align-items: flex-start;
}

.news-container{
    flex: 1;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px,1fr));
    gap: 45px 30px;
 }

.new-img{
    width: 250px;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.new-head{
    color: #223b4e;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.7;
}

.new-text{
    line-height: 1.8;
    color: #616c74;
    font-weight: 500;
}
.new-more-det  {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 10px ;
  }
  
  .new-more-det  {
    position: relative;
    display: flex;
    font-weight: 400;
    font-size: 24px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .new-more-det p {
    margin: 0;
    position: relative;
    font-size: 15px;
    color: #6b77c5;
    font-family: "Alexandria", sans-serif;

  }
  
  .new-more-det::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: #616cb5;
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .new-more-det p::before {
    position: absolute;
      width: 0%;
    inset: 0;
    color: #616cb5;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .new-more-det:hover::after {
    width: 100%;
  }
  
  .new-more-det:hover p::before {
    width: 100%;
  }
  
  .new-more-det:hover svg {
    transform: translateX(4px);
   }
  
  .new-more-det svg {
     transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

  .new-svg{
    width: 23px !important;
    height: 23px !important;
 }

@media screen and (min-width: 768px) and (max-width:1023px){
    .news-container{
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        gap: 30px;
        margin-right: 0;
        margin-left: 0;
    }
    .full-news-container{
        flex-direction: column;
        align-items: center;
    }

    

 }
 @media screen and (max-width: 768px){
    .news-container{
        display: block;
        margin-left: 0;
        margin-right:10px;
    }
    .full-news-container{
        flex-direction: column;
        align-items: center;
    }
    .new{
        margin-top: 40px;
    }
    .news{
        padding: 50px 0;
    }
    .new-img{
        width: 200px;
        height: 250px;
        margin-bottom: 0;
    }
 }




 /* /////// end news section  //////// */

 /* /////// start statistics section  //////// */
.statistics{
    position: relative;
    background: #F4F6FA;
    padding: 40px 0;
    margin-bottom: 140px;
    direction: rtl;
}

.statistics::before{
    content: "";
    position: absolute;
    right: 0;
    left: -0.1%;
    top: 0;
    z-index: 0;
    display: block;
    height: 30px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-position: 0 0;
    overflow: hidden;
}

.sts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 25px;
    
}

.sts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sts-img{
    width: 100px;
    height: 100px;
    margin-bottom: 18px;
    -webkit-transition: all .5s ease 0s !important;
    transition: all .5 ease 0s !important;
}

.sts-img:hover{
    transform: scale(1.15) !important;
}

.sts-num{
    margin-bottom: 15px;
    font-size: 19px;
    letter-spacing: 1px;
    color: #0d5e6d;
    font-weight: 400;
}
.sts-text{
    font-size: 18px;
    font-weight: 400;
    color: #0d5e6d;
    margin-bottom: 20px;

}


@media screen and (max-width: 768px){
    .sts-img{
        width: 90px;
        height: 90px;
    }
    .sts-num{
         font-size: 17px;
    }
    .sts-text{
        font-size: 16px;
    }

    /* .statistics::before{
    }
    .statistics{
    } */
}
